# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
venv/
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Notebooks checkpoints
.ipynb_checkpoints/

# Builds
build/
dist/
*.egg-info/
